@charset "utf-8";

.settings .colors li a.black{background-color: #333;}
.all_wrap[data-color="black"] .home .details .name span{color: #000;}
.all_wrap[data-color="black"] .home .social ul li a:hover{color: #000;}
.all_wrap[data-color="black"] .about .description .name span{color: #000;}
.all_wrap[data-color="black"] .title span{background-color: rgba(0,0,0,.04);}
.all_wrap[data-color="black"] .portfolio .portfolio_filter ul li a.current{color: #000;}
.home .social .social-icon{color: #000;}
body a{color: #000;}
